* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
*:after,*:before {
  content: "";
  display: table;
  clear: both;
}
a:visited, a {
  color: white;
}
div,span,xmp,input{
  outline:none !important;
}
h2 {
  text-align: center;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
}
button {
  position:relative;
  background-color: #c24c4c;
  color: white;
  display: inline-block;
  border-style: solid;
  border-color: #7f3636;
  max-width: 100% !important;
}
header {
  background-color: #25383b;
  color: white;
}
header h1 {
  text-align: center;
}
footer {
  background-color: #25383b;
  color: white;
  text-align: center;
}
input[type="text"] {
  height: 30px;
  width: 200px;
  margin-left: 10px;
  font-size: 16px;
  max-width: 100%;
  border-size: 1px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  display: inline-block;
  behavior: url("libs/pie/PIE.htc");
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.setup, .result, .code {
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}

.download {
  display: none;
}


.setup > div {
  margin: 20px;
}
.setup label {
  display: inline-block;
  margin-bottom: 10px;
}

.slider {
  width: 95%;
}

.code-wrapper{
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

.result,.code {
  text-align: center;
}
.ui-slider, .ui-slider-range {
  cursor: default;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  behavior: url("libs/pie/PIE.htc");
}
.ui-slider-range {
  background-color: #e26161;
}
.ui-state-hover {
  background-color: #7f3636;
}
.ui-slider-handle {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  sbehavior: url("libs/pie/PIE.htc");
  background-color: #c24c4c !important;
}
.send{
  margin-bottom: 50px;
}
.button{
  display: inline-block;
  background-color: #c24c4c;
  color: white;
  display: inline-block;
  border-style: solid;
  border-color: #7f3636;
  max-width: 100% !important;
  width:100px;
  height:45px;
  border-width:2px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:10px;
  behavior: url("libs/pie/PIE.htc");
  font-size:16px;
}
xmp {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: left;
}

@media (min-width: 330px){
  .download {
    display: block;
  }
  .setup, .result {
  width: 50%;
  margin: 0 auto;
  float: left;;
  }
  .download {
    list-style: none;
    padding: 0px;
  }

  .download li {
    display: inline-block;
    width: 150px;
    text-align: center;
    border: 2px #7f3636 solid;
    background-color: #c24c4c;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url("libs/pie/PIE.htc");
  }
  .download li a{
    text-decoration: none;
  }
  .setup {
    border-right: 1px dashed #c24c4c;
  }
  .code {
    border-top: 1px dashed #c24c4c;
    border-bottom: 1px dashed #c24c4c;
    clear: both;
  }
}

@media (min-width: 675px){
  .code-wrapper{
    text-align: center;
    float: left;
    width: 50%;
  }
}
